<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="stylesheet" href="./static/min.css">
</head>
<body>
    <header>myCRYPTO</header>
    <section class="container">
        {% block content %}{% endblock %}
    </section>
    <footer>&copy; 2020 - Todos los derechos reservados</footer>
</body>
</html>