{% extends "base.html" %}
    
{% block title %} Compra de Cryptos {% endblock %}

{% block content %}
    <nav>
        <a href="/">Inicio</a> / 
        <a class="deact" href="">Compra</a> / 
        <a href="status">Status</a>
    </nav>
    <h1>COMPRA DE CRYPTOS</h1>
    <form action="/purchase" method="POST">
        {{ form.hidden_tag() }}
    <div class="container">
        <div class="c5">
            <p>From:</p>
            {{ form.desde() }}
            {% if form.desde.errors %}
                {% for error in form.desde.errors %}
                    <p class="field-error">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="c5">
            <p>To:</p>
            {{ form.convertir_a() }}
            {% if form.convertir_a.errors %}
                {% for error in form.convertir_a.errors %}
                    <p class="field-error">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
        <p>Q</p>
        {{ form.cuantia() }}
        {% if form.cuantia.errors %}
            {% for error in form.cuantia.errors %}
                <p class="field-error">{{ error }}</p>
            {% endfor %}
        {% endif %}
        {{ form.calc(class="btn btn-b") }}
        <p>QCuantity</p>
        {% if qcuantity %}
            <input type="text" name="qcuantity" id="qcuantity" value="{{qcuantity}}" disabled>
        {% else %}
            <input type="text" name="qcuantity" id="qcuantity" value="" disabled>
        {% endif %}
        <p>P.U.</p>
        {% if qcuantity_unitario %}
            <input type="text" name="qcuantity_unitario" id="qcuantity_unitario" value="{{qcuantity_unitario}}" disabled>
        {% else %}
            <input type="text" name="qcuantity_unitario" id="qcuantity_unitario" value="" disabled>
        {% endif %}
        <a class="btn btn-b" href="">Resetear</a>
        <a class="btn btn-c" href="/">X</a>
        {% if not qcuantity %}
            {{ form.ok(class="btn btn-a", disabled=True) }}
        {% else %}
            {{ form.ok(class="btn btn-a") }}
        {% endif %}

        <!--<input class="btn btn-a" type="submit" value="ok" placeholder="V">-->
    </form>
{% endblock %}
