{% extends "base.html" %}
    
{% block title %} Compra de Cryptos {% endblock %}

{% block content %}
    <nav>
        <a href="/">Inicio</a> / 
        <a class="deact" href="">Compra</a> / 
        <a href="status">Status</a>
    </nav>
    <h1 class="titulo">COMPRA DE CRYPTOS</h1>
    <div class="centrar">
        <form class="pure-form" action="/purchase" method="POST">
            {{ form.hidden_tag() }}
        {% if o: %}
            <p class="field-error">Un error con la base de datos ha ocurrido, por favor inténtelo en unos minutos.</p>
        {% endif %}
        {% if mensaje: %}
            <p class="field-error">{{ mensaje }}</p>
        {% endif %}
        <div class="padre">
            <div class="hijo">
                <p class="enlinea">From:</p>
                {{ form.desde() }}
                {% if form.desde.errors %}
                    {% for error in form.desde.errors %}
                        <p class="field-error">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="hijo">
                <p class="enlinea">To:</p>
                {{ form.convertir_a() }}
                {% if form.convertir_a.errors %}
                    {% for error in form.convertir_a.errors %}
                        <p class="field-error">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="padre">
            <div class="hijo">
                <p class="enlinea">Q</p>
                {{ form.cuantia(type="number", step="0.00001") }}
                {{ form.calc(class="pure-button pure-button-secondary pure-button-active") }}
                {% if form.cuantia.errors %}
                    {% for error in form.cuantia.errors %}
                        <p class="field-error">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="hijo">
            <p class="enlinea">QCuantity</p>
                {% if qcuantity %}
                    <input class="negro" type="text" name="qcuantity" id="qcuantity" value="{{'{:.5f}'.format(qcuantity)}}" disabled>
                    <input type="hidden" name="qcuantityh" id="qcuantityh" value="{{qcuantity}}">
                {% else %}
                    <input type="text" name="qcuantity" id="qcuantity" value="" disabled>
                    <input type="hidden" name="qcuantityh" id="qcuantityh" value="">
                {% endif %}
            </div>
        </div>
        <div class="padre spacee">
            <div class="hijo">
                <p>                           </p>
            </div>
            <div class="hijo">
            <p class="enlinea">P.U.</p>
                {% if qcuantity_unitario %}
                    <input class="negro" type="text" name="qcuantity_unitario" id="qcuantity_unitario" value="{{'{:.5f}'.format(qcuantity_unitario)}}" disabled>
                    <input type="hidden" name="qcuantity_unitarioh" id="qcuantity_unitarioh" value="{{qcuantity_unitario}}">
                {% else %}
                    <input type="text" name="qcuantity_unitario" id="qcuantity_unitario" value="" disabled>
                    <input type="hidden" name="qcuantity_unitarioh" id="qcuantity_unitarioh" value="">
                {% endif %}
            </div>
        </div>
        <div class="padre">
            <div class="hijo">
                <a class="botonnaranja" href="">Resetear</a>
            </div>
            <div class="hijo">
                <a class="botonrojo pad" href="/">X</a>
            </div>
            <div class="hijo">
                {% if not qcuantity %}
                    {{ form.ok(class="pure-button", disabled=True) }}
                {% else %}
                    {{ form.ok(class="pure-button pure-button-secondary pure-button-active") }}
                {% endif %}
            </div>
        </div>
            <!--<input class="btn btn-a" type="submit" value="ok" placeholder="V">-->
        </form>
    </div>
    <div class="menos">
        <p>Cartera: Euro(EUR): ∞; BitCoin(BTC): {{"{:.5f}".format(carteras[0]['BTC'])}}; LiteCoin(LTC): {{"{:.5f}".format(carteras[0]['LTC'])}};</p>
        <p>XRP(XRP): {{"{:.5f}".format(carteras[0]['XRP'])}}; Stellar(XLM): {{"{:.5f}".format(carteras[0]['XLM'])}}; Tether(USDT): {{"{:.5f}".format(carteras[0]['USDT'])}};</p>
        <p>Ethereum(ETH): {{"{:.5f}".format(carteras[0]['ETH'])}}; EOS(EOS): {{"{:.5f}".format(carteras[0]['EOS'])}}; BitCoin Cash(BCH): {{"{:.5f}".format(carteras[0]['BCH'])}};</p>
        <p>Binance Coin(BNB): {{"{:.5f}".format(carteras[0]['BNB'])}}; Tron(TRX): {{"{:.5f}".format(carteras[0]['TRX'])}}; cardano(ADA): {{"{:.5f}".format(carteras[0]['ADA'])}};</p>
        <p>BitCoin SV(BSV): {{"{:.5f}".format(carteras[0]['BSV'])}}.</p>
    </div>
{% endblock %}
