<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estado de la inversión</title>
</head>
<body>
    <header>myCRYPTO</header>
    <nav>
        <a href="/">Inicio</a> / 
        <a href="purchase">Compra</a> / 
        <a class="deact" href="status">Status</a>
    </nav>
    <h1>ESTADO DE LA INVERSIÓN</h1>
    <p>Invertido:_________________</p>
    <p>Valor actual:______________</p>
    <a href="/">Volver</a>
    <footer>&copy; 2020 - Todos los derechos reservados</footer>
</body>
</html>