{% extends "base.html" %}
    
{% block title %} Estado de la inversión {% endblock %}

{% block content %}
    <nav>
        <a href="/">Inicio</a> / 
        <a href="purchase">Compra</a> / 
        <a class="deact" href="status">Status</a>
    </nav>
    <h1 class="titulo">ESTADO DE LA INVERSIÓN</h1>
    <div class="centrar">
        {% if mensaje %}
            <p class="field-error">{{ mensaje }}</p>
        {% endif %}
        <p>Invertido:  {{"{:.5f}".format(euros_invertidos)}}</p>
        <p>Valor actual:  {{"{:.5f}".format(valor_actual)}}</p>
    </div>
    <div class="bvolver">
        <a class="botonverde volver" href="/">Volver</a>
    </div>
{% endblock %}